<!doctype html>
<title>Register</title>
<h1>{{ message }}</h1>
<form method="POST" action="/categorize">
    <label for="term">Is a(n):</label>
    <input name="term" type="text" required /> 
    <label for="root">of category:</label>
    <input name="root" type="text" required /> ?
    <button type="submit">Submit</button>
</form>
<ul>
  {% for term in terms %}
    <li><span>A(n) <strong>{{ term.term }}</strong>{% if term.valid %} is {% else %} is not {% endif %}of category <strong>{{ term.root }}</strong></span></li>
  {% endfor %}
</ul>
<footer>
  <p>Environment: {{ deploy_mode }}</p>
</footer>